<div class="large-container center-block">
    <br> </br>

    <h1> <%= @article.title %> </h1>
    <div>
        <p>Escrito por <strong><%=@article.user.email %></strong> </p>
    </div>

    <div>

        <%= @article.content %>

    </div>

    <div>
        <%=link_to "Eliminate Article", @article, method: :delete %>
    </div>
</div>